body {
    font-family:  "Open Sans", sans-serif;
    background-color:auto;
}
/** HEADER **/
#navbar {
    background-color: white !important;
    box-shadow: 5px 5px 10px grey;
}
.navbar-brand{
    text-align: center;
    width: 800px;
    letter-spacing: 4px;
    font-size:15px;
    font-weight: bolder;
    color: rgb(22, 192, 147) !important;
}
.nav-link{
    text-align: center;
    letter-spacing: 3px;
    font-size:14px;
    font-weight: bolder;
    color: rgb(20, 20, 20) !important;
}
/** HOMEPAGE **/
.container{
    text-align: center;
}
#color{
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 25px;
    margin:250px 350px 30px ;
    padding:5px;
    width:475px;
    background-color: #212529;
    color:white;   
    border-radius: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.597);
}
#btn{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    border:2px solid black;
    border-radius: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.200);
}
#btn:hover{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.597);
}